@model Sow.Interfaces.AdminWAPP.Domain.Dtos.Entities.ClientDto

@{ 
    var action = ((Model == null)?"Create":"Update");
}
<div class="clearfix"></div>
<br />
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <form class="form-horizontal" asp-action="@action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input asp-for="Name" required="required" class="form-control col-md-7 col-xs-12" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input asp-for="Document" required="required" class="form-control col-md-7 col-xs-12" />
                    <!--TODO: data-inputmask="'mask': '99.999.999/9999-99'"-->
                </div>
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentsQuantity" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input asp-for="AgentsQuantity" type="number" required="required" class="form-control col-md-7 col-xs-12" data-inputmask="'mask': '999'" />
                </div>
                <span asp-validation-for="AgentsQuantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Image" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <input asp-for="Image" type="file" class="input-file" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
<br />
@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
